@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

* {
   font-family: myFirstFont;
}

#Test {
  color: brown;
} 

img {
  posi
  display: block;
  margin-left: auto;
  margin-right: auto;
}